@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(134, 192, 240);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin: auto;
    color: white;
    margin-top: 50px;
    text-align: center;
}
section{
    background-color: white;
    /*background-image: url(imagens/fototarde.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.377);
}
footer{
    text-align: center;
    padding-top: 10px;
    color: white;
    font-style: italic;
}
div{
    text-align: center;
    padding: 10px;
}
/*#foto{
    width: 500px;
    margin: auto;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}*/