@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 207, 162);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin: auto;
    color: black;
    margin-top: 50px;
    text-align: center;

}
section{
    width: 500px;
    margin: auto;
    background-color: white;
    font-size: 1.2rem;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.493);
    
}
div{
    text-align: center;
    padding: 10px;
}
p{
    padding-top: 15px;
}
input{
    width: 125px;
    height: 30px;
    font-size: 1.1rem;
    text-align: center;
}
#numero{
    width: 80px;
    height: 30px;
    font-size: 1.1rem;
    text-align: center;
}
#mostra{
    font-size: 1.1rem;
}
footer{
    text-align: center;
    padding-top: 25px;
    color: black;
    font-style: italic;
}